@import '../_variables'

.main 
    height: max-content
    width: min-content
    background-color: $pallete-color-02
    padding: $default-border
    border-radius: $default-border
    gap: 4px
    padding: 18px 12px


    .heading
        font-weight: 500
        font-size: 18px
        color: $pallete-color-05

    .short_description
        font-weight: 300
        font-size: 12px 
        color: $pallete-color-04

    .image_container 
        background-color: $pallete-color-01
        border-radius: 4px
        padding: 20px

        .image 
            width: 10rem
            height: 10rem

    .pricing
        margin-left: 10px
        margin-bottom: 4px

        .icon 
            width: 29px
            height: 29px
            object-fit: cover
        
        .text 
            color: #f0f0f0
            font-weight: 600
        

