@use '../_variables.module' as vars

.counter
    display: flex
    align-items: center
    justify-content: space-between
    background-color: vars.$pallete-color-01
    border-radius: vars.$default-border
    padding: 4px 8px
    
    width: 100px

    @media screen and (max-width: 768px)
        padding: 2px 4px

.button
    background: none
    border: none
    color: vars.$pallete-color-05
    font-size: 18px
    padding: 0 8px
    cursor: pointer

    &:disabled
        color: vars.$disabled-color
        cursor: not-allowed

    @media screen and (max-width: 768px)
        font-size: 16px
        padding: 0 4px

.amount
    margin: 0 8px
    font-size: 16px
    color: vars.$pallete-color-05

    @media screen and (max-width: 768px)
        font-size: 14px
        margin: 0 4px