@use '../_variables.module' as vars
@use '../_mixins.module' as *

.card_image_container
  background-color: vars.$pallete-color-01
  @include spacing(15px, 20px)
  @include flex(center, 0, center, center)
  border-radius: vars.$default-border
  flex: 0 0 auto

.card_image
  @include size(10rem, 10rem)
  border-radius: vars.$default-border

@media screen and (max-width: 768px)
  .card_image
    @include size(25vw, 25vw)