@use '../_variables.module' as vars

.card_wrapper 
    min-height: 300px
    width: 20rem
    background-color: vars.$pallete-color-02
    padding: vars.$default-border
    border-radius: vars.$default-border
    gap: 16px
    padding: 18px 12px
    display: flex
    flex-direction: column
    justify-content: space-between