@use '../_variables.module' as vars
@use '../_mixins.module' as *

.card_wrapper
    min-height: 300px
    @include size(20rem, auto)
    @include color(vars.$pallete-color-02, inherit)
    @include spacing(0, 18px 12px)
    border-radius: vars.$default-border
    gap: 16px
    @include flex(column, 16px, space-between, inherit)

    @media screen and (max-width: 768px)
        @include size(100%, auto)
        @include spacing(0, 12px)

.item_wrapper
    @include color(vars.$pallete-color-03, inherit)
    border-radius: vars.$default-border
    @include flex(row, 0, center, center)
    @include size(100%, auto)
    margin: auto

    @media screen and (max-width: 768px)
        @include spacing(0, 12px)
        @include size(95%, auto)
