@use '../_variables.module' as vars

.toggle
    background-color: vars.$primary-color
    width: 3rem 
    height: 3rem
    border: none
    border-radius: 50%
    padding: 8px
    margin: auto 20px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: background-color 0.3s

    &:hover
        background-color: darken(vars.$primary-color, 10%)

    @media screen and (max-width: 768px)
        width: 2.5rem
        height: 2.5rem
        padding: 6px