@use '../_variables.module' as vars
@use 'sass:color'
@use '../_mixins.module' as *

.toggle
    @include color(vars.$primary-color, inherit)
    @include size(3rem, 3rem)
    border: none
    border-radius: 50%
    @include spacing(0, 8px)
    margin: auto 20px
    @include flex(center, 0, center, center)
    cursor: pointer
    transition: background-color 0.3s

    &:hover
        background-color: color.adjust(vars.$primary-color, $lightness: -10%)

    @media screen and (max-width: 768px)
        @include size(2.5rem, 2.5rem)
        @include spacing(0, 6px)