@use './_variables.module' as vars
@use './_mixins.module' as *

.container
    @include flex(column, 20px, center, center)
    @include spacing(0, 20px)

.cards_container
    margin-top: 15rem
    display: grid
    grid-template-columns: repeat(4, minmax(300px, 1fr))
    gap: 20px

    @media screen and (max-width: 1024px)
        grid-template-columns: repeat(2, minmax(300px, 1fr)) 
        gap: 40px
    
    @media screen and (max-width: 512px)
        grid-template-columns: repeat(1, minmax(300px, 1fr)) 
        gap: 20px

.load_more
    @include flex(column, 10px, center, center)
    width: 20rem