@use '../_variables.module' as vars
@use '../_mixins.module' as *

.base
  position: relative
  @include size(100%, auto)
  @include text-styles(auto, 600, inherit, inherit)
  @include flex(column, 0, center, center)
  @include button-styles(vars.$primary-color, vars.$pallete-color-05, vars.$default-border, 10px)

.primary 
  background-color: vars.$primary-color

.secondary 
  background-color: vars.$pallete-color-03

.progress_bar
    @include size(100%, 10px)
    @include color(vars.$pallete-color-03, inherit)
    border-radius: 5px
    overflow: hidden
    margin-top: 5px

.progress
    display: block
    height: 100%
    @include color(vars.$primary-color, inherit)
    transition: width 0.3s ease