@import '../_variables'

.base
  padding: 10px 20px
  border: none
  width: 100%
  border-radius: $default-border
  cursor: pointer
  transition: background-color 0.3s
  font-family: $font
  background-color: $primary-color
  color: $pallete-color-05
  text-transform: uppercase
  font-weight: 600

  .disabled 
    background-color: $disabled-color
