@use '../_variables.module' as vars
@use '../_mixins.module' as *

.base
    @include color(vars.$pallete-color-01, vars.$pallete-color-05)
    @include size(100%, 100px)
    @include flex(row, 0, space-between, center)
    border-bottom: 1px solid #FFFFFF21
    margin-bottom: 10rem
    position: absolute
    top: 0
    left: 0

.logo
    @include flex(row, 0, center, center)
    margin-left: 40px
    
    img
        @include size(auto, 40px)

.cart
    @include flex(row, 8px, center, center)
    margin-right: 40px
    color: vars.$pallete-color-05

    a
        @include flex(row, 5px, center, center)
        padding-right: 20px

    img
        @include size(24px, auto)

    span
        @include text-styles(14px, inherit, vars.$pallete-color-05, 0)