@use '../_variables.module' as vars

.main 
  background-color: vars.$pallete-color-01
  color: #FFFFFF44
  height: 40px
  width: 100%
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  position: sticky -webkit-sticky
  bottom: 0
  left: 0
  margin-top: 40px